* {
    font-family: sans-serif;
}

body {
    background-color: rgb(39, 39, 39);
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
}

.c {
    text-align: center;
    font-size: large;
    font-weight: 1000;
    color: white;
}
